.container{
    padding: 100px;
}
.container1{
    padding: 100px;
}
.child1{
    display:inline-block;
    width: 300px;
    padding-right: 20px;
    padding-left: 200px;
    
}
.child2{
    display:inline-block;
    width: 400px;
    
}
.child3{
    display: inline-block;
    padding-right: 50px;
}
.child4{
    display: inline-block;
    width:500px;
    
}
img{
    width:100%
}
h1,h3{
    text-align: center;
}