
.container{
    border-style: solid;
    width:500px;
    height:300px;
    background-color: greenyellow;
    padding-left: 500px;
}
.container1{
    width:300px;
    height:300px;
    border-radius: 50%;
    border-color:white;
    background-color: white;
    border-style: solid;
    position: relative;
    top: 150px;
    margin-left: 320px;
    
}
.child{
    border-style: solid;
    width: 200px;
    height: 200px;
    background-color: orange;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 20px;
}