
.container{
  width: 150px;
  height: 400px;
  margin-left: 550px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
p{
  text-align: center;
}
.dot{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  animation-name: a,b1,b2,b3,b4;
  animation-duration: 2s,1s,1s,1s,1s;
  animation-iteration-count: 2;
}
.blue{
  background-color: blue;
  animation-name: a,b1;
  animation-delay: 0s,4s;
}
.red{
  background-color: red;
  animation-name: a,b2;
  animation-delay: 0.3s,4.1s;
}
.yellow{
  background-color: yellow;
  animation-name: a,b3;
  animation-delay: 0.6s,4.2s;
}
.green{
  background-color: green;
  animation-name: a,b4;
  animation-delay: 0.9s,4.3s;
}
@keyframes b1{
  0%{
    height: 20px;
  }
  50%{
    height: 100px;
  }
  100%{
    height: 20px;
  }
}@keyframes b2{
  0%{
    height: 20px;
  }
  50%{
    height: 70px;
  }
  100%{
    height: 20px;
  }
}@keyframes b3{
  0%{
    height: 20px;
  }
  50%{
    height: 90px;
  }
  100%{
    height: 20px;
  }
}@keyframes b4{
  0%{
    height: 20px;
  }
  50%{
    height: 60px;
  }
  100%{
    height: 20px;
  }
}
@keyframes a{
  0%{
    transform: translateY(0px);
  }50%{
    transform: translateY(-20px);
  }100%{
    transform: translateY(0px);
  }
}

