.container{
    height: 700px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    width: 350px;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.waves{
    animation-duration: 1s;
}
.waves1{
    border: 2px solid black;
    width: 15px;
    border-radius: 10px;
    background-color: black;
    animation-name: a;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
}
.waves2{
    border: 2px solid black;
    width: 15px;
    border-radius: 10px;
    background-color: black;
    animation-name: c;
    animation-delay: 0.25s;
    animation-iteration-count: infinite;
}.waves3{
    border: 2px solid black;
    width: 15px;
    border-radius: 10px;
    background-color: black;
    animation-name: b;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
}.waves4{
    border: 2px solid black;
    /* height: 80px; */
    width: 15px;
    border-radius: 10px;
    background-color: black;
    animation-name: d;
    animation-delay: 0.15s;
    animation-iteration-count: infinite;
}.waves5{
    border: 2px solid black;
    /* height: 120px; */
    width: 15px;
    border-radius: 10px;
    background-color: black;
    animation-name: c;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
}.waves6{
    border: 2px solid black;
    /* height: 150px; */
    width: 15px;
    border-radius: 10px;
    background-color: black;
    animation-name: a;
    animation-delay:0.2s;
    animation-iteration-count: infinite;
}.waves7{
    border: 2px solid black;
    /* height: 50px; */
    width: 15px;
    border-radius: 10px;
    background-color: black;
    animation-name: d;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
}.waves8{
    border: 2px solid black;
    /* height: 90px; */
    width: 15px;
    border-radius: 10px;
    background-color: black;
    animation-name: c;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}.waves9{
    border: 2px solid black;
    /* height: 140px; */
    width: 15px;
    border-radius: 10px;
    background-color: black;
    animation-name: b;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
}
@keyframes a{
    0%{
        height: 10px;
    }
    50%{
        height: 150px;
    }
    100%{
        height: 10px;
    }
}
@keyframes b{
    0%{
        height: 10px;
    }
    50%{
        height: 120px;
    }
    100%{
        height: 10px;
    }
}@keyframes c{
    0%{
        height: 10px;
    }
    50%{
        height: 100px;
    }
    100%{
        height: 10px;
    }
}@keyframes d{
    0%{
        height: 10px;
    }
    50%{
        height: 130px;
    }
    100%{
        height: 10px;
    }
}