.container1{
    padding-left: 250px;
}
.container-1{
    display: flex;
}
.container-2{
    display: flex;
    margin-top: 50px;
}
.container{
    width: 150px;
    height: 150px;
    margin-left: 30px;
}
.container:hover img{
    display: none;
}
.text{
    opacity: 0;
}
.container:hover p{
    background-color: black;
    color: white;
    width: 150px;
    height: 150px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 3sec ease;
}