.container{
    border: 10px solid;
    background-image: url(https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg);
    width: 300px;
    height: 600px;
    border-radius: 25px 25px 25px 25px;
    margin-left: 40%;
    position: relative;
    overflow: scroll;
    scrollbar-width: none;
}
.header{
    width: 100%;
    height: 75px;
    background-color: darkgreen;
    border-radius: 15px 15px 0px 0px;
    position: fixed;
    top: 0px;
    width: 300px;
    margin-top: 17px;
    z-index: 1;
}
.header i{
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 7px;
    
}
.pic{
    display: inline-block;
    width: 30px;
    height: 30px;
    /* border: 1px solid white; */
    border-radius: 100%;
    padding-top: 2px;
    
    
}
.header img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
} 
.header h4{
    display: inline-block;
    color: white;
    padding: 10px;
}

.footer{
   
    /* border: 2px solid black; */
    width: 300px;
    height: 30px;
    border-radius: 50px 70px 65px 65px;
    position: fixed;
    bottom: 0px;
    background-color: white;
    margin-bottom: 45px;
    z-index: 1;
    
    
}
.footer i{
    display: inline-block;
    color: black;
    font-size: 20px;
    padding: 7px 8px 8px 10px;
    margin: 0px;
}
.footer h4{
    display: inline-block;
    color: black;
    padding: 10px;
    margin: 0px;
   
}
.child{
    display: inline-block;
    background-color: green;
    width: 30px;
    height: 30px;
    /* border: 2px solid; */
    border-radius: 100%;
    position: absolute;
    right: 0px;

}
.child i{
    color: black;
    padding: 5px;

}
.sub{
    /* border: 1px solid; */
    border-radius: 20px;
    width: fit-content;
    background-color: rgb(201, 201, 125);
    padding: 5px;
    margin-left: 35%;
    position: sticky;
    top: 75px;
    z-index: 1;
}
.left{
    /* border: 1px solid; */
    font-family: sans-serif;
    border-radius: 20px;
    width: fit-content;
    background-color: rgb(201, 234, 201);
    padding: 4px;
}
.right{
     /* border: 1px solid; */
    font-family: sans-serif;
    border-radius: 20px;
    width: fit-content;
    background-color: rgb(201, 234, 201);
    padding: 4px;
    position: absolute;
    right: 0px;
   
}